<h3>Movie List</h3>
{{#each model as |movie|}}
  <div>
    {{#link-to 'movies.show' movie}}
      <p>
        Title {{movie.title}}
      </p>
      <img src={{movie.imgUrl}} alt="movie image"/>
    {{/link-to}}
  </div>
{{/each}}